@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  font-weight: 700;
  color: black;
}

:root {
  --bg-color-light: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  --bg-color-dark: #000000;
  --text-color-light: #000000;
  --text-color-dark: #ffffff;
}

html {
  background: var(--bg-color-light);
  color: var(--text-color-light);
  transition: background 0.3s ease, color 0.3s ease;
}

html.dark {
  background: var(--bg-color-dark);
  color: var(--text-color-dark);
}
